@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(216, 220, 248);
}

.control-group {
  /* display: flex; */
  margin: 2rem;
  padding: 1rem;
  column-gap: 1rem;
  border: 2px solid black;
  border-radius: 4px;
  background-color: #ccc;
  /* flex-wrap: wrap; */
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.formDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.allThree {
  margin: 0;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  background-color: #f4f4f4;
}

#pos-div {
  text-align: center;
  border: 2px solid black;
  padding: 2rem;
  height: 90%;
  margin: 1rem;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.btnDiv {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}

.imgStyle {
  width: 200px;
  height: 200px;
}

.spanStyle {
  margin: 0.5rem;
}
.ant-btn {
  color: #fff;
  border-radius: 5px;
}
